{% extends 'main/base.html' %} {% block title %} Home {% endblock %} {% block content%}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>iPrint<span>.</span></h1>
                    <h2>Impresiones 3D para Todos.</h2>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->


</body>

</html>



{% endblock %}