{% extends 'main/base.html' %} {% block title %} Home {% endblock %} {% block content%}
{% load static %}

<!DOCTYPE html>
<html lang="en">


<main id="main">

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Precios</h2>
      </div>
      <p>
        Es importante tener en cuenta que los precios pueden variar dependiendo de la complejidad del objeto, el tamaño,
        el material utilizado y otros factores.
      </p>
      <div class="row">

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Tarifa de impresión por tiempo</h3>
            <p>
              Dependerá del tipo de impresora 3D y de la complejidad del objeto a imprimir.
            </p>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Cotizar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <h3>Tarifa de materiales</h3>
            <p>
              Dependerá del el uso de materiales específicos, como filamentos de plástico, resinas o metales.
            </p>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Cotizar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <h3>Costos de acabado y postprocesamiento</h3>
            <p>
              Servicios de acabado y postprocesamiento, como lijado, pintura o pulido.
            </p>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Cotizar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <h3>Tarifa de diseño y modelado</h3>
            <p>
              Servicios de diseño y modelado 3D, por hora o por proyecto para la creación de modelos personalizados.
            </p>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Cotizar</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Pricing Section -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>iPrint<span>.</span></h3>
            <p>
              Urb. Campiña Paisajista, s/n, Quinta Vivanco, Arequipa 0400 <br>
              NY 535022, USA<br><br>
              <strong>Telefono:</strong> 999 888 765<br>
              <strong>Emails:</strong> nicole.durand@ucsp.edu.pe<br>
              andres.cusirramos@ucsp.edu.pe<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</footer><!-- End Footer -->
</body>

</html>




{% endblock %}