
{% extends 'main/base.html' %} {% block title %} Home {% endblock %} {% block content%}
{% load static %}

<!DOCTYPE html>
<html lang="en">


<main id="main">


<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Servicios</h2>
            <p>Nuestros Servicios</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Impresion con modelo del cliente</a></h4>
                    <p>El cliente nos proporciona su modelo que no este en el catalogo para la impresion a travez de
                        la plataforma.</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">Impresion sin modelo</a></h4>
                    <p>Se cotiza la creacion del modelo y la impresion a pedido del cliente.</p>
                </div>
            </div>



            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a href="">Impresiones 3D del catalogo</a></h4>
                    <p>Se escoge algun modelo de nuestro catalogo para imprimir.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->

</main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>iPrint<span>.</span></h3>
              <p>
                Urb. Campiña Paisajista, s/n, Quinta Vivanco, Arequipa 0400 <br>
                NY 535022, USA<br><br>
                <strong>Telefono:</strong> 999 888 765<br>
                <strong>Emails:</strong> nicole.durand@ucsp.edu.pe<br>
                andres.cusirramos@ucsp.edu.pe<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
</body>

</html>




    {% endblock %}